.container {
  font-family: sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

.header--xl {
  margin-top: 0
}

.load-summary {
  margin-top: 1em;
}

.details__reveal {
  border-left: solid 5px gray;
  margin-top: 1em;
  padding: 0 1em;
}

.matrix__table {
  border-spacing: 0;
  font-size: 0.8em;
}

.matrix__table-wrapper {
  width: fit-content;
  max-width: 100%;
  overflow: scroll;
  max-height: 35em;
  border: solid 1px gray;
  margin-top: 1em;
}

.matrix__table-cell {
  border: solid 1px lightgray;
  height: 5em;
  min-width: 10em;
  max-width: 10em;
  overflow-wrap: break-word;
  text-align: center;
}

.matrix__dependency-detail {
  margin: 0.25em 0;
}

.matrix__table-cell-label {
  display: block;
}

.matrix__table-cell-divide {
  margin: 0 1em;
}

.matrix__table-cell-label--major::before {
  content: 'M: ';
}

.matrix__table-cell-label--major {
  box-shadow: inset 0em 0em 1em 0px red;
  border-radius: 1em;
}

.matrix__table-cell-label--minor::before {
  content: 'm: ';
}

.matrix__table-cell-label--minor {
  box-shadow: inset 0em 0em 1em 0px orange;
  border-radius: 1em;
}

.matrix__table-cell-label--patch::before {
  content: 'p: ';
}

.matrix__table-cell-label--patch {
  box-shadow: inset 0em 0em 1em 0px yellow;
  border-radius: 1em;
}

.matrix__table-cell--lh-column {
  position: sticky;
  left: 0;
  background: white;
  font-weight: bold;
  border-right: solid 2px gray;
}

.matrix__table-cell--header {
  position: sticky;
  top: 0;
  background: white;
  font-weight: bold;
  border-bottom: solid 2px gray
}

.matrix__table-cell--overview {
  position: sticky;
  top: 0;
  left: 0;
  background: lightgray;
  border-right: solid 2px gray;
  border-bottom: solid 2px gray;
  z-index: 1;
}

.input-label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.25em;
}

.input-text {
  width: 100%;
}

.checkbox-group__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
}

.checkbox-group__legend {
  margin-bottom: 0.25em;
}

.checkbox-group__label {
  margin-left: 0.25em;
  margin-right: 1em;
}
