#app {
  font-family: sans-serif;
}

.matrix__table {
  border-spacing: 0;
}

.matrix__table-wrapper {
  width: 100%;
  overflow: scroll;
  height: 35em;
}

.matrix__table-cell {
  border: solid 1px lightgray;
  height: 5em;
  width: 10em;
  max-width: 10em;
  overflow-wrap: break-word;
  text-align: center;
}

.matrix__table-cell--lh-column {
  position: sticky;
  left: 0;
  background: white;
  font-weight: bold;
  border-right: solid 2px gray;
}

.matrix__table-cell--header {
  position: sticky;
  top: 0;
  background: white;
  font-weight: bold;
  border-bottom: solid 2px gray
}

.matrix__table-cell--overview {
  position: sticky;
  top: 0;
  left: 0;
  background: lightgray;
  border-right: solid 2px gray;
  border-bottom: solid 2px gray;
  z-index: 1;
}

.input-label {
  display: block;
}

.input-text {
  width: 100%;
  margin-bottom: 1em;
}
